@import './variables';

.container {
    min-height: 100vh;

    .logo-area {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 10px 0 30px 0;
    }

    .layout-right-area {
        margin-left: 80px;
        .header {
            background-color: white;
            line-height: 55px;
            height: 55px;
            font-size: 18px;
            color: $gray;
            letter-spacing: 0.7px;
            font-weight: bold;
        }

        .content {
            padding: 24px 50px;
        }

        .footer {
            background-color: white;
            color: $gray;
            letter-spacing: 1px;
            font-size: 10px;
            padding: 12px 50px;
        }
    }
}

.ant-layout-sider-children,
.ant-menu {
    background-color: $dark-blue;
}

.ant-layout-content {
    //background: #FAFBFD;
}