:where(.css-dev-only-do-not-override-ph9edi).ant-badge.ant-badge-status .ant-badge-status-dot {
    width: 8px;
    height: 8px;
    margin-right: 10px;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table-tbody>tr>td {
    // padding: 8px 16px; 
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table-container table>thead>tr:first-child>* {
    border-radius: 0 !important;
    // background: rgba(26, 55, 77, 0.1);
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table {
    border-radius: 0 !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-tag {
    // padding: 5px 10px !important;
    border-radius: 20px;
    width: 70%;
    text-indent: 5px;
}

.incident-table {
    cursor: pointer;

    .vote-icons {
        display: flex;

        .like {
            width: 65px;
        }
    }
}

.like-icon {
    color: rgba(51, 174, 16, 1);
    margin-right: 8px;
    font-size: 13px !important;
}

.dislike-icon {
    color: rgba(232, 83, 66, 1);
    margin-right: 8px;
    font-size: 13px !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin-top: 0;
}