@import './variables';
@import './base';

.login-container {
    
    .login-right {
        justify-content: space-around;
        padding: 40px 0;
        
        Form {
            margin: 50px 0;
            width: 300px;
            
            &>* {
                width: 100%;
            }

            .ant-input-prefix {
                margin: 0 7px 0 0;
            }

            .login-input {
                background: none;
    
                &>* {
                    background: none;
                }
            }

            .login-form-button {
                margin: 20px 0 8px 0;
                width: 100%;
            }

            .login-form-forgot {
                display: flex;
                justify-content: end;
            }
        }        
    }
}