@import './variables';
@import './base';

.register-container {

    .register-right {
        justify-content: space-evenly;
        padding-top: 40px;

        Form {
            width: 450px;
            margin: 40px 0 20px 0;

            .ant-form-item-required {
                display: flex;
                text-align: left;
            }

            .btn {
                display: flex;
                justify-content: center;

                .register-form-button {
                    width: 60%;
                }
            }
        }

        .docs {
            text-align: center;
            width: 40%;

            a {
                text-decoration: none;
                color: $gray;
            }
        }
    }
}