:where(.css-dev-only-do-not-override-ph9edi).ant-statistic .ant-statistic-content {
    font-size: 35px;
    color: #363739;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-breadcrumb {
    font-weight: 500;
    font-size: 18px;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-card-bordered {
    border: none !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-card .ant-card-body {
    padding: 14px 24px;
    background-color: #faf9f9;
    box-shadow: rgba(17, 17, 26, 0.144) 0px 1px 0px;
}

.card {
    margin-bottom: 20px;
    
}

.pie-canvas {
    height: 358px !important;
}