:where(.css-dev-only-do-not-override-ph9edi).ant-card .ant-card-meta-description {
    font-size: 55px;
    color: #727272;
    font-weight: 600;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-breadcrumb {
    font-weight: 500;
    font-size: 20px;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-card-bordered {
    border: none !important;
    border-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-card .ant-card-body {
    border-radius: 0px !important;
}

.number-col :where(.css-dev-only-do-not-override-ph9edi).ant-card .ant-card-body {
    padding: 40px;
}

// .number-col:where(.css-dev-only-do-not-override-ph9edi).ant-col
:where(.css-dev-only-do-not-override-ph9edi).ant-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.statistic .anticon svg {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    color: #a7a7a7;
}

.row {
    margin-bottom: 16px;
}

.stacked-bar {
    height: 370px !important;
}

.top-title {
    font-size: 20px;
    color: #3a3a3a;
    letter-spacing: 3px;
    padding-bottom: 10px;
    border-bottom: 1px solid #afafaf;
}

.top-three:where(.css-dev-only-do-not-override-ph9edi).ant-card .ant-card-body{
    padding: 20px 60px 40px 60px;
    height: 448px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .line {        
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #323232;

        .category {
            font-weight: 500;
            font-size: 22px;
            letter-spacing: 0.7px;
            display: flex;
            align-items: center;

            span {
                margin-right: 10px;
                font-size: 45px;
                color: #2bc468;
                text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }
        }

        .count {
            font-weight: 700;            
            font-size: 25px;
        }
    }
}